Repository buzden/deptycheck, pull requests merged in 2023-10, with the labels that each got.

#92 [ docs ] Added recommendations on specification development
  docs/source/explanation.rst
  docs/source/explanation/specifications.rst
  docs/source/explanation/specifications/recommendations.md
  tests/docs/typecheck/expected
Labels: code: enhancement, part: docs

#94 [ mcov ] Print how many times model elements were covered
  src/Test/DepTyCheck/Gen/Coverage.idr
  tests/lib/coverage/ty-and-con-derived-001/expected
  tests/lib/coverage/ty-and-con-derived-002/expected
  tests/lib/coverage/ty-and-con-derived-003/expected
  tests/lib/coverage/ty-and-con-withCov-001/expected
  tests/lib/coverage/ty-and-con-withCov-002/expected
  tests/lib/coverage/ty-and-con-withCov-003/expected
  tests/lib/coverage/ty-and-con-withCov-004/expected
  tests/lib/coverage/ty-and-con-withCov-005/expected
  tests/lib/coverage/ty-and-con-withCov-006/expected
  tests/lib/coverage/ty-and-con-withCov-007/expected
  tests/lib/coverage/ty-and-con-withCov-008/expected
  tests/lib/coverage/ty-and-con-withCov-009/expected
Labels: code: enhancement, part: model coverage

#97 [ re #96 ] Use recently added syntax to revert recent syntax change
  pack.toml
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
Labels: code: cleanup, part: derivation, status: upstream, derive: least-effort

#98 [ test ] Use cleaned up layout of the tests runner
  .gitignore
  .pack-collection
  deptycheck.ipkg
  examples/pil/pil.ipkg
  examples/pil/tests/Tests.idr
  examples/pil/tests/runner/BaseDir.idr
  examples/pil/tests/runner/buildhook
  examples/pil/tests/tests.ipkg
  pack.toml
  tests/Tests.idr
  tests/derivation/utils/cons-analysis/deep-cons-app-006/expected
  tests/runner/BaseDir.idr
  tests/runner/buildhook
  tests/tests.ipkg
Labels: code: cleanup, part: tests, status: upstream, part: build

#99 [ upstream ] Adapt to a breaking changes in the upstream
  .pack-collection
  pack.toml
  tests/derivation/utils/involved-types/rec-002/TypesAndInvolved.idr
Labels: status: upstream, issue: compilation error, code: fix, part: infra libs

#100 [ cleanup ] Get rid of the SOP library, derive `Show` alternatively
  .github/workflows/ci-deptycheck.yml
  .gitlab-ci.yml
  pack.toml
  tests/derivation/_common/RunDerivedGen.idr
  tests/derivation/_common/derive.ipkg
  tests/derivation/core/norec nodep noext 002/DerivedGen.idr
  tests/derivation/core/norec nodep noext 003-neg/DerivedGen.idr
  tests/derivation/core/norec nodep noext 003-neg/expected
  tests/derivation/core/norec nodep noext 004-neg/DerivedGen.idr
  tests/derivation/core/norec nodep noext 004-neg/expected
  tests/derivation/core/norec nodep noext 005-neg/DerivedGen.idr
  tests/derivation/core/norec nodep noext 005-neg/expected
  tests/derivation/core/norec nodep w_ext 001/DerivedGen.idr
  tests/derivation/core/norec nodep w_ext 002/DerivedGen.idr
  tests/derivation/core/norec nodep w_ext 003/DerivedGen.idr
  tests/derivation/core/norec nodep w_ext 004/DerivedGen.idr
  tests/derivation/core/norec nodep w_ext 005/DerivedGen.idr
  tests/derivation/core/norec nodep w_ext 006/DerivedGen.idr
  tests/derivation/core/norec part noext 003/DerivedGen.idr
  tests/derivation/core/norec part noext 003/expected
  tests/derivation/core/norec part noext 004/DerivedGen.idr
  tests/derivation/core/norec part noext 004/expected
  tests/derivation/core/norec part noext 005/DerivedGen.idr
  tests/derivation/core/norec part noext 005/expected
  tests/derivation/core/norec part w_ext 001/DerivedGen.idr
  tests/derivation/core/norec part w_ext 001/expected
  tests/derivation/core/norec part w_ext 002/DerivedGen.idr
  tests/derivation/core/norec part w_ext 002/expected
  tests/derivation/core/norec part w_ext 003/DerivedGen.idr
  tests/derivation/core/norec part w_ext 003/expected
  tests/derivation/core/typealias con 001/DerivedGen.idr
  tests/derivation/core/typealias con 002/DerivedGen.idr
Labels: code: cleanup, part: tests, part: infra libs
