Repository buzden/deptycheck, pull requests merged in 2024-08, with the labels that each got.

#175 [ example ] Fix and refine a `pil-fun`'s test
  examples/pil-fun/tests/lang/usage/UsePil.idr
Labels: status: confirmed bug, code: refactoring, part: tests, code: fix, part: examples

#180 [ derive, fix ] Small derivation-related performance fixes
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
Labels: status: confirmed bug, part: derivation, issue: performance, derive: least-effort, code: fix, code: workaround

#181 [ example ] Add the covering sequence example
  examples/README.md
  examples/covering-seq/covering-seq.ipkg
  examples/covering-seq/src/Data/List/Covering.idr
  examples/covering-seq/src/Data/List/Covering/Gen.idr
  examples/covering-seq/tests/.clean-names
  examples/covering-seq/tests/Tests.idr
  examples/covering-seq/tests/data/simple-seqs/Main.idr
  examples/covering-seq/tests/data/simple-seqs/expected
  examples/covering-seq/tests/data/simple-seqs/run
  examples/covering-seq/tests/data/simple-seqs/test.ipkg
  examples/covering-seq/tests/gens/covering-seqs/Main.idr
  examples/covering-seq/tests/gens/covering-seqs/expected
  examples/covering-seq/tests/gens/covering-seqs/run
  examples/covering-seq/tests/gens/covering-seqs/test.ipkg
  examples/covering-seq/tests/gens/print/DerivedGen.idr
  examples/covering-seq/tests/gens/print/PrintDerivation.idr
  examples/covering-seq/tests/gens/print/derive.ipkg
  examples/covering-seq/tests/gens/print/expected
  examples/covering-seq/tests/gens/print/run
  examples/covering-seq/tests/tests.ipkg
  pack.toml
Labels: code: enhancement, part: derivation, part: examples

#182 [ ux, derive ] Improve an error message of a function in a constructor
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  tests/derivation/least-effort/run/regression/function-in-cons/DerivedGen.idr
  tests/derivation/least-effort/run/regression/function-in-cons/RunDerivedGen.idr
  tests/derivation/least-effort/run/regression/function-in-cons/derive.ipkg
  tests/derivation/least-effort/run/regression/function-in-cons/expected
  tests/derivation/least-effort/run/regression/function-in-cons/run
Labels: status: confirmed bug, part: derivation, issue: bad message, derive: least-effort, code: fix

#159 [ mcov ] Add remaining generator runners with ModelCoverage
  src/Test/DepTyCheck/Gen/Coverage.idr
  tests/lib/coverage/ty-and-con-withCov-010/PrintCoverage.idr
  tests/lib/coverage/ty-and-con-withCov-010/expected
  tests/lib/coverage/ty-and-con-withCov-010/run
  tests/lib/coverage/ty-and-con-withCov-010/test.ipkg
  tests/lib/coverage/ty-and-con-withCov-011/PrintCoverage.idr
  tests/lib/coverage/ty-and-con-withCov-011/expected
  tests/lib/coverage/ty-and-con-withCov-011/run
  tests/lib/coverage/ty-and-con-withCov-011/test.ipkg
Labels: code: enhancement, part: generators, part: model coverage

#185 [ derive ] Log used order using argument names too
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
Labels: code: enhancement, part: derivation, issue: bad message, derive: least-effort

#187 [ upstream ] Work around `IHole`s in type signatures
  src/Language/Reflection/Compat.idr
  tests/derivation/least-effort/print/regression/fin-inc/AlternativeCore.idr
  tests/derivation/least-effort/print/regression/fin-inc/DerivedGen.idr
  tests/derivation/least-effort/print/regression/fin-inc/PrintDerivation.idr
  tests/derivation/least-effort/print/regression/fin-inc/RunDerivedGen.idr
  tests/derivation/least-effort/print/regression/fin-inc/derive.ipkg
  tests/derivation/least-effort/print/regression/fin-inc/expected
  tests/derivation/least-effort/print/regression/fin-inc/run
  tests/derivation/least-effort/run/regression/fin-inc/DerivedGen.idr
  tests/derivation/least-effort/run/regression/fin-inc/RunDerivedGen.idr
  tests/derivation/least-effort/run/regression/fin-inc/derive.ipkg
  tests/derivation/least-effort/run/regression/fin-inc/expected
  tests/derivation/least-effort/run/regression/fin-inc/run
Labels: part: derivation, status: upstream, issue: compilation error, derive: core, code: fix, status: workarounded

#190 [ derive ] Support printing derived gens with Idris representation
  src/Deriving/DepTyCheck/Gen/Entry.idr
Labels: code: enhancement, part: derivation, derive: entry
