Repository buzden/deptycheck, pull requests merged in 2024-03, with the labels that each got.

#120 [ test ] Add and employ the names cleaning script
  tests/.clean-names
  tests/derivation/_common/run
  tests/derivation/infra/empty-body print 003/expected
  tests/derivation/infra/empty-body print 004/expected
  tests/derivation/infra/empty-body print 005/expected
  tests/derivation/infra/empty-body print 007/expected
  tests/derivation/infra/empty-cons print 003/expected
  tests/derivation/infra/empty-cons print 004/expected
  tests/derivation/infra/empty-cons print 005/expected
  tests/derivation/infra/empty-cons print 007/expected
  tests/derivation/infra/empty-cons print 011/expected
  tests/derivation/infra/empty-cons print 012/expected
  tests/derivation/infra/empty-cons print 013/expected
  tests/derivation/infra/empty-cons print 014/expected
  tests/derivation/infra/ext print 001/expected
  tests/derivation/infra/ext print 002/expected
  tests/derivation/infra/ext print 003/expected
  tests/derivation/infra/ext print 004/expected
  tests/derivation/infra/self print 003/expected
  tests/derivation/infra/self print 004/expected
  tests/derivation/infra/self print 005/expected
  tests/derivation/infra/self print 007/expected
  tests/derivation/least-effort/print/adt/003 noparam/expected
  tests/derivation/least-effort/print/adt/004 noparam/expected
  tests/derivation/least-effort/print/adt/005 param/expected
  tests/derivation/least-effort/print/adt/006 param/expected
  tests/derivation/least-effort/print/adt/007 right-to-left simple/expected
  tests/derivation/least-effort/print/adt/008 right-to-left simple/expected
  tests/derivation/least-effort/print/adt/009 left-to-right/expected
  tests/derivation/least-effort/print/adt/010 right-to-left long-dpair/expected
  tests/derivation/least-effort/print/adt/011 right-to-left long-dpair/expected
  tests/derivation/least-effort/print/adt/012 right-to-left chained/expected
  tests/derivation/least-effort/print/adt/013 right-to-left nondet/expected
  tests/derivation/least-effort/print/adt/014 right-to-left nondet ext/expected
  tests/derivation/least-effort/print/gadt/001 gadt/expected
  tests/derivation/least-effort/print/gadt/002 gadt/expected
  tests/derivation/least-effort/print/gadt/003 right-to-left nondet/expected
  tests/derivation/least-effort/print/gadt/004 right-to-left det/expected
  tests/derivation/least-effort/print/gadt/005 gadt/expected
  tests/derivation/least-effort/print/gadt/006 gadt/expected
  tests/derivation/least-effort/print/gadt/007 eq-n/expected
  tests/derivation/least-effort/print/gadt/008 eq-n/expected
  tests/derivation/least-effort/print/gadt/009 eq-n/expected
  tests/derivation/least-effort/print/gadt/010 eq-n/expected
  tests/derivation/least-effort/print/gadt/011 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/012 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/013 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/014 eq deepcons/expected
  tests/derivation/least-effort/print/regression/dependent-givens-big/expected
  tests/derivation/least-effort/print/regression/dependent-givens-small-deep/expected
  tests/derivation/least-effort/print/regression/dependent-givens-small-shallow/expected
  tests/derivation/least-effort/print/regression/lost-deceq-four-occurences/expected
  tests/derivation/least-effort/print/regression/lost-deceq-three-occurences/expected
  tests/derivation/least-effort/print/regression/too-early-rename-multiple-complex/expected
  tests/derivation/least-effort/print/regression/too-early-rename-multiple-simple/expected
  tests/derivation/least-effort/print/regression/too-early-rename-single-dependency/expected
  tests/derivation/least-effort/print/regression/unification-mismatch-dependent/expected
  tests/derivation/least-effort/print/regression/unification-name-mismatch/expected
Labels: code: cleanup, part: tests, status: upstream

#121 [ ci, gl ] Don't use external job definition for super-linter
  .gitlab/master.yml
Labels: part: ci, status: upstream, issue: compilation error, code: fix

#124 [ ci, gl ] Proparage pipeline source value from the parent to the child
  .gitlab/master.yml
Labels: status: confirmed bug, part: ci, code: fix

#125 [ cleanup ] Clean up all non-needed transitive dependencies in `ipkg`s
  deptycheck.ipkg
  examples/pil/tests/gens/demo001/demogen.ipkg
  tests/derivation/inputvalidation/_common/validate-input.ipkg
  tests/derivation/utils/arg-deps/_common/arg-deps.ipkg
  tests/derivation/utils/canonicsig/_common/canonic-sig.ipkg
  tests/derivation/utils/cons-analysis/_common-deep-cons-app/cons.ipkg
  tests/derivation/utils/involved-types/_common-involved-types/inv-ty.ipkg
  tests/derivation/utils/up-to-renaming-ttimp-eq/_common/renaming-ttimp-eq.ipkg
  tests/docs/readme/test.ipkg
  tests/lib/distribution/_common/test.ipkg
  tests/lib/gen-monad/laziness001/use-gen.ipkg
  tests/lib/gen-monad/laziness002/use-gen.ipkg
  tests/lib/gen-monad/laziness003/use-gen.ipkg
  tests/lib/gen-monad/ne-laziness001/use-gen.ipkg
  tests/lib/gen-monad/ne-laziness002/use-gen.ipkg
  tests/lib/gen-monad/use-gen-000/use-gen.ipkg
  tests/lib/gen-monad/use-gen-002/deptycheck-usage.ipkg
Labels: code: cleanup, part: build

#122 [ docs ] Add experiments page
  .linters/.markdown-lint.yml
  docs/source/explanation/specifications.rst
  docs/source/explanation/specifications/experiments.md
  tests/docs/typecheck/expected
Labels: code: enhancement, part: docs

#130 [ mcov ] Add support for runtime labels
  src/Deriving/DepTyCheck/Gen/Core.idr
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
  src/Test/DepTyCheck/Gen/Coverage.idr
Labels: code: enhancement, part: model coverage, part: labels

#131 [ example ] Small improvements in the sorted list example
  examples/sorted-list/src/Data/List/Sorted.idr
  examples/sorted-list/tests/.clean-names
  examples/sorted-list/tests/Tests.idr
  examples/sorted-list/tests/gens/print/DerivedGen.idr
  examples/sorted-list/tests/gens/print/PrintDerivation.idr
  examples/sorted-list/tests/gens/print/derive.ipkg
  examples/sorted-list/tests/gens/print/expected
  examples/sorted-list/tests/gens/print/run
  tests/lib/distribution/_common/test.ipkg
Labels: code: enhancement, code: cleanup, part: tests, code: fix, part: examples
