Repository buzden/deptycheck, pull requests merged in 2024-06, with the labels that each got.

#162 [ cleanup ] Use recently added flipped map operations
  deptycheck.ipkg
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  src/Deriving/DepTyCheck/Gen/Core/ConsEntry.idr
  src/Deriving/DepTyCheck/Gen/Core/Util.idr
  src/Deriving/DepTyCheck/Util/Collections.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
Labels: code: cleanup, code: refactoring, part: derivation, derive: core, derive: infrastructure

#163 [ test ] Apply names cleaner to `deep-cons-app` tests
  tests/derivation/utils/cons-analysis/_common-deep-cons-app/run
  tests/derivation/utils/cons-analysis/deep-cons-app-006/expected
Labels: code: cleanup, part: tests, status: upstream

#164 [ example ] Improvements in `pil-fun`'s existing pretty-printer
  examples/pil-fun/pil-fun.ipkg
  examples/pil-fun/src/Language/PilFun/Pretty.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Derived.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Scala3.idr
  examples/pil-fun/src/Runner.idr
Labels: code: enhancement, code: cleanup, code: refactoring, part: examples

#165 [ collection ] Add some useful operations to the collections sublib
  src/Deriving/DepTyCheck/Util/Collections.idr
Labels: code: enhancement, part: infra libs

#166 [ refactor ] Rename positive nat type and make it a proper type
  deptycheck.ipkg
  examples/sorted-list/tests/gens/print/expected
  src/Data/Nat/Pos.idr
  src/Data/Nat1.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
  src/Test/DepTyCheck/Gen.idr
  tests/derivation/infra/empty-cons print 002/expected
  tests/derivation/infra/empty-cons print 006/expected
  tests/derivation/infra/empty-cons print 008/expected
  tests/derivation/infra/empty-cons print 010/expected
  tests/derivation/infra/empty-cons print 011/expected
  tests/derivation/least-effort/print/adt/003 noparam/expected
  tests/derivation/least-effort/print/adt/004 noparam/expected
  tests/derivation/least-effort/print/adt/006 param/expected
  tests/derivation/least-effort/print/adt/007 right-to-left simple/expected
  tests/derivation/least-effort/print/adt/008 right-to-left simple/expected
  tests/derivation/least-effort/print/adt/009 left-to-right/expected
  tests/derivation/least-effort/print/adt/010 right-to-left long-dpair/expected
  tests/derivation/least-effort/print/adt/011 right-to-left long-dpair/expected
  tests/derivation/least-effort/print/adt/012 right-to-left chained/expected
  tests/derivation/least-effort/print/adt/013 right-to-left nondet/expected
  tests/derivation/least-effort/print/gadt/001 gadt/expected
  tests/derivation/least-effort/print/gadt/002 gadt/expected
  tests/derivation/least-effort/print/gadt/003 right-to-left nondet/expected
  tests/derivation/least-effort/print/gadt/004 right-to-left det/expected
  tests/derivation/least-effort/print/gadt/005 gadt/expected
  tests/derivation/least-effort/print/gadt/006 gadt/expected
  tests/derivation/least-effort/print/gadt/007 eq-n/expected
  tests/derivation/least-effort/print/gadt/011 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/012 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/013 eq deepcons/expected
  tests/derivation/least-effort/print/gadt/014 eq deepcons/expected
  tests/derivation/least-effort/print/regression/dependent-givens-big/expected
  tests/derivation/least-effort/print/regression/unification-name-mismatch/expected
  tests/derivation/least-effort/print/regression/unnamed-auto-implicit/expected
Labels: code: cleanup, code: refactoring, code: redesign, part: infra libs

#167 [ collection ] Add combintaions function to collections sublib
  src/Deriving/DepTyCheck/Util/Collections.idr
Labels: code: enhancement, part: infra libs

#168 [ utils ] Factor out utils to separate appropriate modules
  deptycheck.ipkg
  examples/pil-fun/src/Language/PilFun/Pretty.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Scala3.idr
  src/Data/Alternative.idr
  src/Data/Collections/Analysis.idr
  src/Data/Fin/Lists.idr
  src/Data/Fin/Minus.idr
  src/Data/Fin/ToFin.idr
  src/Data/List/Extra.idr
  src/Data/SortedMap/Extra.idr
  src/Data/SortedSet/Extra.idr
  src/Data/Vect/Dependent.idr
  src/Data/Vect/Extra.idr
  src/Deriving/DepTyCheck/Gen/Checked.idr
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  src/Deriving/DepTyCheck/Gen/Core/ConsEntry.idr
  src/Deriving/DepTyCheck/Gen/Core/Util.idr
  src/Deriving/DepTyCheck/Gen/Derive.idr
  src/Deriving/DepTyCheck/Util.idr
  src/Deriving/DepTyCheck/Util/Collections.idr
  src/Deriving/DepTyCheck/Util/DepPerm.idr
  src/Deriving/DepTyCheck/Util/Fin.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
  src/Deriving/DepTyCheck/Util/Syntax.idr
  src/Syntax/IHateParens.idr
  src/Syntax/IHateParens/Function.idr
  src/Syntax/IHateParens/List.idr
  src/Syntax/IHateParens/SortedMap.idr
  src/Syntax/IHateParens/SortedMap/Dependent.idr
  src/Syntax/IHateParens/SortedSet.idr
  src/Syntax/IHateParens/Vect.idr
  src/Syntax/Monad/Logic.idr
  tests/derivation/utils/arg-deps/_common/Infra.idr
Labels: code: cleanup, code: refactoring, part: infra libs

#169 [ cleanup ] Use external `Data` and `Syntax` libraries
  deptycheck.ipkg
  src/Data/Alternative.idr
  src/Data/Collections/Analysis.idr
  src/Data/Fin/Lists.idr
  src/Data/Fin/Minus.idr
  src/Data/Fin/ToFin.idr
  src/Data/List/Extra.idr
  src/Data/Nat1.idr
  src/Data/SortedMap/Extra.idr
  src/Data/SortedSet/Extra.idr
  src/Data/Vect/Dependent.idr
  src/Data/Vect/Extra.idr
  src/Syntax/IHateParens.idr
  src/Syntax/IHateParens/Function.idr
  src/Syntax/IHateParens/List.idr
  src/Syntax/IHateParens/SortedMap.idr
  src/Syntax/IHateParens/SortedMap/Dependent.idr
  src/Syntax/IHateParens/SortedSet.idr
  src/Syntax/IHateParens/Vect.idr
  src/Syntax/Monad/Logic.idr
Labels: code: cleanup, part: meta, part: infra libs

#60 [ derive ] Add the default constructor derivator
  README.md
  deptycheck.ipkg
  examples/sorted-list/tests/gens/print/DerivedGen.idr
  src/Deriving/DepTyCheck/Gen.idr
  tests/derivation/_common/PrintDerivation.idr
  tests/derivation/_common/RunDerivedGen.idr
  tests/derivation/core/defaulthint/DerivedGen.idr
  tests/derivation/core/defaulthint/derive.ipkg
  tests/derivation/core/defaulthint/expected
  tests/derivation/core/defaulthint/run
  tests/derivation/distribution/dependent-rec-001/CheckDistribution.idr
  tests/derivation/distribution/dependent-rec-002/CheckDistribution.idr
  tests/derivation/distribution/list-nat-001/CheckDistribution.idr
  tests/derivation/distribution/list-nat-002/CheckDistribution.idr
  tests/derivation/distribution/nats-001/CheckDistribution.idr
  tests/derivation/distribution/vect-nat-001/CheckDistribution.idr
  tests/derivation/least-effort/print/regression/unification-name-mismatch/DerivedGen.idr
  tests/lib/coverage/ty-and-con-derived-001/PrintCoverage.idr
  tests/lib/coverage/ty-and-con-derived-002/PrintCoverage.idr
  tests/lib/coverage/ty-and-con-derived-003/PrintCoverage.idr
Labels: code: cleanup, part: derivation, status: upstream, issue: bad message, issue: compilation error, derive: entry, code: fix

#172 [ upstream ] Use precise variant for distributions checking
  deptycheck.ipkg
  tests/lib/distribution/_common/DistrCheckCommon.idr
Labels: code: refactoring, part: tests, status: upstream, part: infra libs
