Repository buzden/deptycheck, pull requests merged in 2024-10, with the labels that each got.

#204 [ refactor ] Move `NamesInfoInTypes` into a separate module section
  src/Deriving/DepTyCheck/Util/Reflection.idr
Labels: code: refactoring, part: derivation, derive: infrastructure

#207 [ example ] Lua5.4 pretty printer
  examples/pil-fun/src/Language/PilFun/Pretty/Lua5_4.idr
  examples/pil-fun/src/Runner.idr
  examples/pil-fun/tests/gens/scala3/expected
Labels: code: enhancement, part: examples

#208 [ example, pil-fun ] Idris2 pretty printer initial support
  examples/pil-fun/src/Language/PilFun.idr
  examples/pil-fun/src/Language/PilFun/Pretty.idr
  examples/pil-fun/src/Language/PilFun/Pretty/DSL.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Idris2.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Lua5_4.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Scala3.idr
  examples/pil-fun/src/Runner.idr
  examples/pil-fun/tests/gens/scala3/expected
Labels: code: enhancement, code: redesign, part: examples

#209 [ gen, refactor ] Make more arguments erased
  src/Test/DepTyCheck/Gen.idr
  src/Test/DepTyCheck/Gen/Emptiness.idr
Labels: code: cleanup, code: refactoring, part: generators
