Repository buzden/deptycheck, pull requests merged in 2025-03, with the labels that each got.

#243 [ upstream, ux ] Change error messages as a react to a compiler change
  deptycheck.ipkg
  src/Deriving/DepTyCheck/Gen/Entry.idr
  tests/derivation/inputvalidation/odd-or-lacking-gen-params/expected
Labels: code: enhancement, part: derivation, status: upstream, issue: bad message, derive: entry

#212 [ gen, redesign ] Replaced `MaybeEmptyDeep` with a proof of non-emptiness
  src/Test/DepTyCheck/Gen.idr
  src/Test/DepTyCheck/Gen/Emptiness.idr
Labels: code: cleanup, code: refactoring, part: generators, code: redesign, issue: performance

#245 [ derive ] Improve ordering calculation
  examples/pil-dyn/tests/gens/no-given/expected
  examples/pil-dyn/tests/gens/outs-given/expected
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  tests/derivation/least-effort/print/regression/bad-propagation-of-thin-determ/DerivedGen.idr
  tests/derivation/least-effort/print/regression/bad-propagation-of-thin-determ/derive.ipkg
  tests/derivation/least-effort/print/regression/bad-propagation-of-thin-determ/expected
  tests/derivation/least-effort/print/regression/bad-propagation-of-thin-determ/run
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/DerivedGen.idr
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/RunDerivedGen.idr
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/derive.ipkg
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/expected
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/run
Labels: code: cleanup, code: refactoring, part: derivation, issue: performance, derive: least-effort, code: fix

#246 [ derive ] Add an heuristic to order better with hard filtrations
  deptycheck.ipkg
  examples/covering-seq/src/Data/List/Covering/Gen.idr
  examples/pil-dyn/src/Language/PilDyn/Derived/AllGiven.idr
  examples/pil-dyn/src/Language/PilDyn/Derived/InsGiven.idr
  examples/pil-dyn/src/Language/PilDyn/Derived/NoGiven.idr
  examples/pil-dyn/src/Language/PilDyn/Derived/OutsGiven.idr
  examples/pil-fun/src/Language/PilFun/Derived.idr
  examples/pil-fun/src/Language/PilFun/Pretty/Derived.idr
  examples/sorted-list-so-comp/src/Data/List/Sorted/Gen.idr
  examples/sorted-list-so-full/src/Data/List/Sorted/Gen.idr
  examples/sorted-list-tl-pred/src/Data/List/Sorted/Gen.idr
  examples/sorted-tree-indexed/src/Data/SortedBinTree/Gen.idr
  examples/sorted-tree-naive/src/Data/SortedBinTree/Gen.idr
  examples/sorted-tree-naive/tests/gens/sorted/expected
  examples/uniq-list/src/Data/List/Uniq/Gen.idr
  examples/uniq-list/src/Data/Vect/Uniq/Gen.idr
  src/Deriving/DepTyCheck/Gen/Core/ConsDerive.idr
  tests/derivation/least-effort/print/john-hughes/007 rgen/expected
  tests/derivation/least-effort/print/john-hughes/008 rgen/expected
  tests/derivation/least-effort/print/john-hughes/009 rgen/expected
  tests/derivation/least-effort/print/john-hughes/010 rgen/expected
Labels: code: cleanup, code: refactoring, part: derivation, issue: performance, derive: least-effort, part: examples, code: heuristics

#247 [ improv ] Improve code layout and computation order, and clean up
  .github/workflows/ci-deptycheck.yml
  .gitlab/deptycheck.yml
  .patch-chez-gc-handler
  src/Deriving/DepTyCheck/Gen/Checked.idr
  src/Deriving/DepTyCheck/Gen/Core.idr
  src/Deriving/DepTyCheck/Gen/Derive.idr
  src/Deriving/DepTyCheck/Gen/Entry.idr
  src/Deriving/DepTyCheck/Util/Logging.idr
  src/Deriving/DepTyCheck/Util/Reflection.idr
Labels: code: cleanup, code: refactoring, part: derivation, issue: performance, derive: core, part: build, part: infra libs

#248 [ revert ] Oops, revert removal of a workaround thought to be obsolete
  .github/workflows/ci-deptycheck.yml
  .gitlab/deptycheck.yml
  .patch-chez-gc-handler
Labels: status: upstream, issue: performance, code: fix, part: infra libs

#249 [ typo ] Spell "closure" properly
  docs/source/explanation/derivation/design/closure-of-gens.md
  src/Deriving/DepTyCheck/Gen/Checked.idr
  tests/derivation/core/norec nodep w_ext 001/expected
  tests/derivation/core/norec nodep w_ext 003/expected
Labels: part: derivation, part: tests, code: typo, part: docs

#253 [ ux ] Print names of given type arguments in logs
  examples/covering-seq/tests/gens/print/expected
  examples/sorted-list-tl-pred/tests/gens/print/expected
  src/Deriving/DepTyCheck/Gen/Derive.idr
  tests/derivation/infra/empty-cons print 002/expected
  tests/derivation/infra/empty-cons print 006/expected
  tests/derivation/infra/empty-cons print 015/expected
  tests/derivation/least-effort/print/gadt/001 gadt/expected
  tests/derivation/least-effort/print/order/001 complex order/expected
  tests/derivation/least-effort/print/order/002 complex order/expected
  tests/derivation/least-effort/print/order/003 complex order/expected
  tests/derivation/least-effort/print/order/004 complex order/expected
  tests/derivation/least-effort/print/order/005 complex order/expected
  tests/derivation/least-effort/print/order/006 complex order/expected
  tests/derivation/least-effort/print/order/007 complex order/expected
  tests/derivation/least-effort/print/order/008 complex order/expected
  tests/derivation/least-effort/print/order/009 complex order/expected
  tests/derivation/least-effort/print/regression/bad-propagation-of-thin-determ/expected
  tests/derivation/least-effort/print/regression/dependent-givens-expl-big/expected
  tests/derivation/least-effort/print/regression/dependent-givens-expl-small-deep/expected
  tests/derivation/least-effort/print/regression/dependent-givens-expl-small-shallow/expected
  tests/derivation/least-effort/print/regression/dependent-givens-impl-big/expected
  tests/derivation/least-effort/print/regression/dependent-givens-impl-small-deep/expected
  tests/derivation/least-effort/print/regression/dependent-givens-impl-small-shallow/expected
  tests/derivation/least-effort/print/regression/undefined-name-impl-parameter/expected
  tests/derivation/least-effort/print/regression/underscore-in-cons-expl-full-gend1/expected
  tests/derivation/least-effort/print/regression/underscore-in-cons-expl-full/expected
  tests/derivation/least-effort/print/regression/underscore-in-cons-expl-partial/expected
  tests/derivation/least-effort/print/regression/underscore-in-cons-impl-full/expected
  tests/derivation/least-effort/print/regression/unification-name-mismatch/expected
  tests/derivation/least-effort/print/regression/unnamed-auto-implicit-deeper-gend/expected
  tests/derivation/least-effort/print/regression/unnamed-auto-implicit-deeper-givn/expected
  tests/derivation/least-effort/print/regression/unnamed-auto-implicit-deeper-in-ty/expected
  tests/derivation/least-effort/run/regression/bad-propagation-of-thin-determ/expected
Labels: code: enhancement, part: derivation, issue: bad message, derive: infrastructure
